.About{
    width: 100%;
    background: linear-gradient(101deg, rgba(252,138,200,0.1) 0%, rgba(255,153,41,0.1) 100%);
    h1{
        margin-bottom: 0;
        padding-top: 33px;
        text-align: center;
        font: {
            size: 40px;
            weight: 700;
        }
    }
}
.AboutText{
    max-width: 1241px;
    margin: auto;
        p{
            margin: 25px;
            font: {
                family: $Roboto;
                size:  24px;
                weight: 300;
            }
        } 
}
.SliderContainer{
    overflow: hidden;
    margin: auto;
    border:  5px solid black;
    max-width: 1350px;
    height: 45%;
    button{
        float: right;
        cursor: pointer;
        border: none;
        background: none;
        height: 65px;
        width: 65px;
        background-image: url("../img/slider/arrow-square.svg");
    }
    >div{
       display: flex;
       justify-content: center;
    }
}
.Slide{
    transition: transform 0.5s ease-in-out;
    margin: {
        right: 5px;
    }
    img{
        width: 21.406vw;
        height: 16.042vw;
    }
}
