/*Для корректного отображение на планшете горизонтально*/
@media screen and (max-width: 1114px) and (orientation: landscape) {
    .Landing {
        height: 100vh;
    }
    .LandingText {
        h1 {
            font-size: 75px;
        }
        p {
            font-size: 25px;
        }
    }
    @include ChangeFooter();
}
/*Для корректного отображение при сжатии окна*/
@media screen and (min-width: 1024px) and (max-height: 900px) {
    .LandingText {
        h1 {
            font-size: 45px;
        }
    }
    .Landing {
        height: 100%;
    }
}
/*Для корректного отображение на планшете вертикально*/
@media screen and (min-height: 1024px) and (orientation: portrait) {
    .LandingText {
        h1 {
            padding-top: 80px;
            font-size: 45px;
        }
        p {
            font-size: 20px;
        }
    }
    @include ChangeFooter();
}
/*Для корректного отображение на телефоне вертикально*/
@media screen and (max-width: 600px) and (orientation: portrait) {
    .Service {
        width: 250.331px;
        p {
            font-size: 15px;
            width: 225px;
        }
        h1 {
            font-size: 20px;
        }
    }
    .LandingElements {
        padding-bottom: 0;
    }
    .LandingText {
        p {
            font-size: 20px;
        }
        h1 {
            margin-top: 50px;
            font-size: 45px;
        }
    }
    .Landing {
        background-attachment: scroll;
    }
    .OurServices {
        > hr {
            max-width: 300px;
        }
    }
    @include ChangeAbout();
    @include HeaderNavHide();
    @include ChangeFooter();
}
/*Для корректного отображение на телефоне горизонтально*/
@media screen and (max-width: 1023px) and (orientation: landscape) {
    .Service {
        width: 300.331px;
        p {
            font-size: 15px;
            width: 250px;
        }
        h1 {
            font-size: 20px;
        }
    }
    .LandingElements {
        img {
            margin-top: 0px;
        }
    }
    .Landing {
        background-attachment: scroll;
        height: 100%;
    }
    .LandingText {
        h1 {
            font-size: 45px;
        }
        p {
            font-size: 20px;
        }
    }
    @include ChangeAbout();
    @include HeaderNavHide();
    @include ChangeFooter();
}